Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libtest-*/
libtest-*.tar.gz
ltmain.sh
m4/
missing
src/.deps/
src/*.o
test-driver
test/.deps/
test/.libs/
test/Makefile
test/Makefile.in
test/test
test/*.log
test/*.o
test/*.trs
